/**
 * BASE
 * Main color: #0475BA
 */

 @font-face {
    font-family: 'Poppins';
    font-weight: normal;
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    font-weight: bold;
    src: url('../fonts/Poppins-Medium.ttf');
}

body {
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {

} */

h3 {
    color: #0475BA;
    text-align: center;
}

.secondary-block {
    background-color: #0475BA;
    color: white;
}

.secondary-block h3 {
    color: white;
}

a {
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


header,
section,
footer {
    padding: 40px;
}

/**
 * NAVIGATION
 */

nav {
    display: flex;
    background-color: #0475BA;
    height: 70px;
    align-items: center;
}

nav ul {
    display: none;
}
nav a {
    padding: 10px;
    text-decoration: none;
}


nav h2 {
    color: white;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    nav ul {
        display: flex;
    }

    header .content {
        display: flex;
        justify-content: space-evenly;
    }

    .content {
        width: 800px;
        margin: 0 auto;
    }
    h3 {
        text-align: left;
    }

    footer {
        display: flex;
    }
}

/**
 * HEADER
 */
header {
    text-align: center;
}

h2 {
    color: #0475BA;
}

header img {
    width: 150px;
    border-radius: 50%;
}


/**
 * PROFILE
 */
#profile ul {
    list-style: disc;
    padding-left: 15px;
}

/**
 * EXP
 */
.job {
    margin-bottom: 25px;
}
.job-header {
    display: flex;
    justify-content: space-between;
}
.job-header h4 {
    margin-top: 0;
}

#training li {
    display: flex;
    justify-content: space-between;
}

/**
 * FOOTER
 */
footer ul {
    padding: 25px;
}